body {
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  background-image: linear-gradient(
    to right,
    rgb(20, 147, 220),
    rgb(17, 54, 71)
  );
}
.box {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.6);
  padding: 15px;
  border-radius: 15px;
  width: 20%;
}
fieldset {
  border: 3px solid dodgerblue;
}
legend {
  border: 1px solid dodgerblue;
  padding: 10px;
  text-align: center;
  background-color: dodgerblue;
  border-radius: 8px;
}
.inputBox {
  position: relative;
}
.inputUser {
  background: none;
  border: none;
  border-bottom: 1px solid white;
  outline: none;
  color: white;
  font-size: 15px;
  width: 100%;
  letter-spacing: 2px;
}
.labelInput {
  position: absolute;
  top: 0px;
  left: 0px;
  pointer-events: none;
  transition: 0.5s;
}
.inputUser:focus ~ .labelInput,
.inputUser:valid ~ .labelInput {
  top: -20px;
  font-size: 12px;
  color: dodgerblue;
}
#data_retirada {
  border: none;
  padding: 4px;
  border-radius: 10px;
  outline: none;
  font-size: 15px;
}
#data_entrega {
  border: none;
  padding: 4px;
  border-radius: 10px;
  outline: none;
  font-size: 15px;
}
#submit {
  background-image: linear-gradient(
    to right,
    rgb(0, 92, 197),
    rgb(90, 20, 220)
  );
  width: 100%;
  border: none;
  padding: 15px;
  color: white;
  font-size: 15px;
  cursor: pointer;
  border-radius: 10px;
}
#submit:hover {
  background-image: linear-gradient(
    to right,
    rgb(0, 80, 172),
    rgb(80, 19, 195)
  );
}

.navbar {
  display: flex;
  justify-content: center;
  padding-right: 50px;
  padding-top: 15px;
  padding-bottom: 10px;
  font-size: medium;
  color: aqua;
}
#home {
  padding-right: 30px;
}
#register {
  padding-right: 30px;
}
#about_us {
  padding-right: 30px;
}
#dashboard {
  padding-right: 30px;
}
.catalogos {
  display: flex;
  color: snow;
}
#catalogo-1 {
  padding: 5%;
  width: 30%;
}
#catalogo-2 {
  padding: 5%;
  width: 30%;
}
#catalogo-3 {
  padding: 5%;
  width: 30%;
}
#about_us_text {
  margin-right: 80px;
  margin-left: 60px;
  margin-top: 20px;
  border: solid black 2px;
}
#about_us_paragraph {
  color: #fff;
}
.dash_table {
  font-size: 20px;
  margin-top: 20px;
  width: 100%;
  border: solid #000 1px;
}
.dashboard_body {
  margin-left: 35%;
  margin-right: 35%;
}
